.c-form {
  width: 60%;

  padding: 4rem;

  display: flex;
  flex-flow: column;
  gap: 2rem;

  background: rgb(223, 223, 223);
}

.c-form__btn {
  color: #fff;
  background: rgb(42, 46, 53);
}

.c-form__btn:hover {
  background: rgb(48, 52, 59);
}

.c-form__btn--preview {
  align-self: flex-start;
  width: max-content;
  padding: 1.2rem 2.2rem;
  margin-top: 2rem;

  font-size: 1.2rem;

  border-radius: 4px;
}

@media only screen and (max-width: 530px) {
  .c-form {
    width: 90%;
  }
}
